@media only screen and (min-width:500px) and (max-width:709px) {
  .w-s-ul li h2:nth-of-type(1) {
    font-size: 1.2rem;
  }

  .w-s-ul li .w-s-h2 {
    font-size: 1.7rem;
  }

  body {
    overflow: visible;
  }

  .card--section::after {
    position: absolute;
    width: 100%;
    top: 140px;
  }
}

@media only screen and (min-width:710px) and (max-width:800px) {
  .w-s-ul {
    width: 70%;
  }

  .w-s-ul li .w-s-h2 {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width:801px) {
  .welcome--section {
    width: 80%;
    height: 450px;
    display: grid;
    grid-template:
      "a a"auto "b c"auto "b c"auto "b d"auto / 1fr 1fr;
  }

  .welcome--section h1 {
    font-size: 3rem;
    grid-area: a;
    justify-self: center;
  }

  .bunsan--header--img {
    width: 15rem;
    margin: auto;
    grid-area: b;
  }

  .w-s-ul {
    grid-area: c;
  }

  .welcome--section button {
    width: 80%;
    height: 50px;
    grid-area: d;
  }

  /* Tarjeta */
  .card--section::after {
    margin: auto;
    right: 150px;
    width: 65%;
    height: 450px;
    border-radius: 90% 90% 20px 20px;
  }

  .card--section {
    display: grid;
    grid-template: "_ a"auto "b c"auto "b c"auto / 1fr 1fr;
    grid-gap: 20px;
    top: 170px;
  }

  .card--info--user {
    grid-area: c;
    top: 10px;
  }

  .close {
    justify-self: flex-end;
    right: 0;
    bottom: 60px;
    grid-area: a;
  }

  .card--user {
    grid-area: b;
  }

  .card--info {
    grid-area: c;
  }

  .card--section::after {
    top: 150px;
  }
}

@media only screen and (min-width:1000px) {
  .welcome--section {
    height: 550px;
  }

  .bunsan--header--img {
    width: 20rem;
  }

  .welcome--section h1 {
    font-size: 4rem;
  }

  .w-s-ul {
    width: 100%;
  }

  .w-s-ul li .w-s-ic {
    width: 3.5rem;
  }

  .w-s-ul li .w-s-h2 {
    font-size: 1.5rem;
  }

  .welcome--section button {
    margin-top: 10px;
  }
}

@media only screen and (min-width:1200px) {
  .card--section {
    width: 60%;
  }

  .card--section::after {
    width: 55%;
    top: 150px;
    right: 20%;
  }

  .yadza img {
    width: 18rem;
    height: 19rem;
  }

  .yadza {
    position: relative;
    left: 50px;
    width: 18rem;
    height: 19rem;
  }

  .yadza::after {
    width: 17rem;
    height: 18rem;
    position: relative;
    top: -310px;
  }

  .card--info h2 {
    font-size: 2.5rem;
  }
}
